<% provide :title, 'Edit profile' %>
<div class="row">
  <div class="large-12 column">
    <h1>Edit profile</h1>
  </div>
</div>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: @user %>
  <div class="row">
    <div class="large-12 column">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 column">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 column">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 column">
      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 column">
      <%= f.label :current_password, "Current Password" %>
      <%= f.password_field :current_password %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 column">
      <%= f.submit "Save Changes", class: "button" %>
    </div>
  </div>
<% end %>